 h1{
  color:blue;
  padding-top: 10px;
 }
    

    .price-contain {
      max-width: 1100px;
      margin: 40px auto;
      padding: 0 20px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .card {
      background-color: #ffffff;
      width: 330px;
      padding: 30px;
      border-radius: 10px;
      box-shadow: 0 5px 15px rgba(0,0,0,0.1);
      text-align: center;
      transition: transform 0.2s;
    }

    .card:hover {
      transform: translateY(-5px);
    }

    .card h3 {
      margin: 10px 0;
      font-size: 1.2rem;
      color: blue;
    }

    .price {
      font-size: 1.5rem;
      color: #27ae60;
      margin: 10px 0 20px;
    }

    .butt {
      display: inline-block;
      padding: 10px 20px;
      background-color: blue;
      color: white;
      text-decoration: none;
      border-radius: 5px;
      font-weight: bold;
    }

    .butt:hover {
      background-color: rgb(7, 7, 179);
    }
     @media (max-width: 768px) {
      .price-contain {
        flex-direction: column;
        align-items: center;
      }
    }
    
   